.infinite-tile-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.infinite-tile-container__tile {
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    border: solid 2rem black;
}

.infinite-tile-container__tile.is-clone {
    background: red;
}
