/*****************POPUP EXPLICATIONS*********************/
.popup{
    background-color: rgb(242, 242, 242);
    /*border: 1px solid black;*/
    width: 75%;
    padding: 15px 15px 0px 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 20px;
    display: none;
    text-align: center;
    z-index: 2000;
  }
  .popup button{    
  text-align: center;
  background-color: transparent;
    font-size: 1.1em;
    border: none;
    outline: none;
    cursor: pointer;
    
  }

/*****************CAMERA*********************/
.hidden{
    display: none;
}

#cameraContainer{
    width: 100vw;
    height: 100vh;

}

#videoPreview, #imagePreview, #imageCloth{
    height: auto;
    width: 98vw;
    margin-left: 5px;
    margin-top: 20%;
}



#captureButton{
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 100px;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    border: 4px double red;
}

#analyzing, #retry, #serverfail{
    background-color: rgb(242, 242, 242);
    width: 35%;
    padding: 15px 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 20px;
    text-align: center;
    z-index: 300;
}

#croix, #croixserver{
    background-image: url(./images/croix.svg);
    z-index: 400;
    position: relative;
    width: 10px;
    height: 10px;
    left: 92%;
    top: 0;
}

#validate{
    background-image: url(./images/validate.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 85px;
    height: 85px;
    position: absolute;
    bottom: 140px;
    right: 60px;
    transform: rotate(0deg);
    z-index: 200;
    animation: rotate0 12s infinite linear;
}
@keyframes rotate0 {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

  #retake{
    background-image: url(./images/retake_pic.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 85px;
    height: 85px;
    position: absolute;
    bottom: 140px;
    left: 60px;
    transform: rotate(0deg);
    animation: rotate0 12s infinite linear;
  }

  #clothtype {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 325px;
  }










  