@font-face {
  font-family: 'terminal';
  src: url('./fonts/terminal-grotesque.ttf') format('truetype');
}
body {
    margin: 0;
    padding: 0;
   overflow:hidden;
    background-color: rgb(242, 242, 242);
  }
p{
  font-family: terminal, helvetica, sans-serif;
  font-size: 1.07em;
  /*font-size:0.999em;*/
}
a{
  color: black;
}
a:visited{
  color: black;
}
/********************GRILLE+CAMERA GALLERY*********************************/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

  }

  .grid-item {
    /*border: 1px solid #B22222;*/
    text-align: center;
    width: 100vw;
    height: 100vh;
    align-self: center;

  }

  img{
    width: auto;
    height: 80vh;
  }

/**********************MENU*******************************/

.item1{
    background-image: url(./images/JUPE4.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: -60px;
    margin-left:-15px;
    z-index: 20;
    transform: rotate(25deg);
}
.item2{
  background-image: url(./images/JUPE2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 130px;
  margin-bottom: 5px;
  position: fixed;
  bottom: 0;
  margin-left: -10px;
  z-index: 30;
  transform: rotate(55deg);
}
.item3{
  background-image: url(./images/TOP4.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 110px;
  position: fixed;
  bottom: -50px;
  margin-left: 45px;
  z-index: 30;
  transform: rotate(160deg);
}
.item10{
  background-image: url(./images/PANTALON3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: -80px;
  right: 0;
  z-index: 15;
  transform: rotate(45deg);
}
.item11{
  background-image: url(./images/ROBE4.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
  position: fixed;
  bottom: -40px;
  right: -80px;
  z-index: 10;
  transform: rotate(-35deg);
}
.item12{
  background-image: url(./images/TOP2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  position: fixed;
  bottom: -10px;
  right: 20px;
  z-index: 20;
  transform: rotate(-120deg);
}
.item4{
  background-image: url(./images/TOP.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  position: fixed;
  top: -30px;
  right: 10px;
  z-index: 30;
  transform: rotate(20deg);
}
.item5{
  background-image: url(./images/ROBE3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position: fixed;
  top: -80px;
  right: 60px;
  z-index: 20;
  transform: rotate(-60deg);
}
.item6{
  background-image: url(./images/PULL.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
  position: fixed;
  top: -70px;
  right: -30px;
  z-index: 40;
  transform: rotate(-130deg);
}
.item7{
  background-image: url(./images/PANTALON4.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 110px;
  position: fixed;
  top: -40px;
  right: 30px;
  z-index: 10;
  transform: rotate(-30deg);
}
.item8logo{
  background-image: url(./images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
  position: fixed;
  top: 0;
  right: 185px;
  z-index: 10;
  transform: rotate(-130deg);
}
.item9activetutos{
  background-image: url(./images/tutos_vecto.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  margin-left: 75px;
  z-index: 30;
  transform: rotate(30deg);
  animation: rotate30 8s infinite linear;
}
.item9inactivetutos{
  background-image: url(./images/tutos_vecto.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  margin-left: 75px;
  z-index: 30;
  transform: rotate(30deg);
  animation: rotate30 8s infinite linear;
}
@keyframes rotate30 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}
.item9activegallery{
  background-image: url(./images/gallery_final.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 65px;
  right: 30px;
  z-index: 10;
  transform: rotate(-25deg);
  animation: rotate-25 8s infinite linear;
}
@keyframes rotate-25 {
  0% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(335deg);
  }
}
.item9inactivegallery{
  background-image: url(./images/gallery_final.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 68px;
  right: 43px;
  z-index: 30;
  transform: rotate(-45deg);
  animation: rotate-45 8s infinite linear;
}
@keyframes rotate-45 {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(315deg);
  }
}
.item9activeexperience{
  background-image: url(./images/generate.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 54px;
  right: 35px;
  z-index: 30;
  transform: rotate(140deg);
  /*animation: rotate140 8s infinite linear;*/
}
.item9inactiveexperience{
  background-image: url(./images/generate.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 56px;
  right: 40px;
  z-index: 30;
  transform: rotate(140deg);
  animation: rotate140 8s infinite linear;
}
@keyframes rotate140 {
  0% {
    transform: rotate(140deg);
  }

  100% {
    transform: rotate(500deg);
  }
}


/************************HOMEPAGE*****************************/

.homepageimg{
  width: auto;
  height: 150vh;
}
.logo{
  width: auto ;
  height: 250px ;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  pointer-events: none;
}
.texteintro{
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  bottom: 120px;
  width: 100%;
}
.tryitnow{
  /*background-image: url(./images/tryitnow_blanc.svg) ;
  background-repeat: no-repeat;
  font-size: 2.8em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  bottom: 35px;
  width: 154px;
  z-index: 2;*/
  font-size: 1.7em;
  position: absolute;
  text-align: center;
  bottom: 60px;
  width: 100%;
  z-index: 2;
  animation: 5s anim-lineUp ease-out;
  /*animation: blinker 3s ease-in-out infinite;*/
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);

  }
}

/*@keyframes blinker {
  50% {
    opacity: 0;
  }
}*/

.motif{
  height: 123%;
  width: auto;
  object-fit: contain;

}
.motiflimite{
  height: 81%;
  width: auto;
  object-fit: contain;

}
/************************TUTOSPAGE*****************************/

video{
  border-radius: 20px;
  height: 75vh;
  margin-top: 20px;
    /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;*/

}





/************************GALLERYSPAGE*****************************/

/************************EXPERIENCE PAGE*****************************/
.bodypart{
  max-width: 85vw;
  max-height: 85vh;
  object-fit: contain;
  margin-top: 10%;
  opacity:1;
}

.hideshow{
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: fixed;
  z-index: 200;
  bottom: 459px;
  left: 239px;
  animation: rotate0 12s infinite linear;
}
/************************GENERATED CLOTHES PAGES*****************************/
.tshirt{
  max-width: 95vw;
  max-height: 95vh;
  object-fit: contain;
  margin-top: 10%;
}


/************************INSTRUCTIONS*****************************/
.tools{
  text-align: left;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 0.999em;
}
.itemtools{
  background-image: url(./images/tools.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: relative;
  top: 35px;
  left: 25px;
  transform: rotate(0deg);
}
.instructions{
  text-align: left;
  width: 90%;
  margin-left: 20px;
  margin-top: -15px;
  font-size: 0.999em;
  line-height: 1.03em;
}
.iteminstructions{
  background-image: url(./images/steps.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 43px;
  height: 43px;
  position: relative;
  top: -5px;
  left: 82vw;
  transform: rotate(65deg);
}
#finished{
  /*background-image: url(./images/done.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: relative;
  top: 17px;
  left: 50%;
  transform: translate(-50%, 0);
  transform: rotate(0deg);*/
  font-size: 1.7em;
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 100%;
  z-index: 2;
}

.popupaddtogallery{
  background-color: rgb(242, 242, 242);
  /*border: 1px solid black;*/
  width: 75%;
  padding: 15px 15px 0px 15px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 20px;
  display: none;
  text-align: center;
  z-index: 2000;
}
#noshare, #yesshare{
  text-align: center;
  background-color: transparent;
    font-size: 1.1em;
    border: none;
    outline: none;
    cursor: pointer;
    padding:0 40px;
  }
/***************** INFINITE SLIDER INSTRUCTIONS *********************/


.swiper-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;

}

.swiper-wrapper {
  background: transparent;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.swiper-slide {
  display: flex;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
 /*border: 1px solid black;*/
}

.imgcentered{
  max-width: 95vw;
  max-height: 95vh;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.instructionstemplate1{
  width: 85%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 2em;

}

.toolstemplate1{
  text-align: left;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  margin-left: 20px;
  line-height: 2em;
}

.itemtoolstemplate1{
  background-image: url(./images/material.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 459px;
  left: 239px;
  animation: rotate0 12s infinite linear;
}

@keyframes rotate0 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.iteminstructionstemplate1{
  background-image: url(./images/step_by_step.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 459px;
  left: 239px;
  animation: rotate0 12s infinite linear;
}

.welldone{
  background-image: url(./images/welldone.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 459px;
  left: 239px;
  animation: rotate0 12s infinite linear;
}

#yessharetemplate1{
  text-align: center;
  background-color: transparent;
    font-size: 2em;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 120px;
    margin-right: 42vw;
}


.textcentre{
  text-align: left;
width: 100%;
margin-left: 25px;
}

.legende{
  position: fixed;
  transform: rotate(-90deg);
  left: -65px;
  top: 11%;
  z-index: 20;
  display: block
}

.imglegende{
  width: 70px;
  height: auto;
  position: fixed;
  left: -5px;
  top: 25%;
  z-index: 10;
}

.instructions{
  background-image: url(./images/instructions.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 215px;
  left: 220px;
  animation: rotate0 12s infinite linear;
}

#clothtype {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
